@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000000;
  overflow-y: hidden;
}

.ONLY_STROKE {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
